<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<title>設備情報一覧画面</title>
</head>
<body>
	<form th:action="@{/equipment/create}" th:object="${equipmentFormData}" method="post">
		<table>
			<tr><th>品名:</th>
			    <td><input type="text" th:errorclass="error-input" th:field="*{type}"></td>
			    <td><span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"class="error-messages">error!</span></td>
	        </tr>
			<tr><th>型番：</th>
			    <td><input type="text" th:errorclass="error-input" th:field="*{model}"></td>
			    <td><span th:if="${#fields.hasErrors('model')}" th:errors="*{model}"class="error-messages">error!</span></td>
		    </tr>
			<tr><th>メーカー:</th>
			    <td><input type="text" th:errorclass="error-input" th:field="*{manufacturer}"></td>
			    <td><span th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"class="error-messages">error!</span></td>
		    </tr>
			<tr><th>仕様：</th>
			    <td><input type="text" th:errorclass="error-input" th:field="*{spec}"></td>
			    <td><span th:if="${#fields.hasErrors('spec')}" th:errors="*{spec}"class="error-messages">error!</span></td>
		    </tr>
			<tr><th>購入日：</th>
			    <td><input type="date" th:errorclass="error-input" th:field="*{purchaceDate}"></td>
			    <td><span th:if="${#fields.hasErrors('purchaceDate')}" th:errors="*{purchaceDate}"class="error-messages">error!</span></td>
		    </tr>
			<tr><th>耐用年数：	</th>
			    <td><input type="text" th:errorclass="error-input" th:field="*{lifespanInYears}"></td>
			    <td><span th:if="${#fields.hasErrors('lifespanInYears')}" th:errors="*{lifespanInYears}"class="error-messages">error!</span></td>
		    </tr>
		</table>
		<input type="submit" value="作成">
	</form>
	<hr>
	<table>
		<tr>
			<th>管理番号</th>
			<th>品名</th>
			<th>型番</th>
			<th>メーカー</th>
			<th>仕様</th>
			<th>購入日</th>
			<th>耐用年数</th>
			<th>減価償却済み</th>
			<th>使用不能</th>
			<th>貸出可能</th>
			<th>設置場所</th>
			<th>使用期限</th>
		</tr>
		<tr th:each="equipment : ${equipments}" th:object="${equipment}">
			<th th:text="*{id}"></th>
			<td th:text="*{type}"></td>
			<td th:text="*{model}"></td>
			<td th:text="*{manufacturer}"></td>
			<td th:text="*{spec}"></td>
			<td th:text="*{#dates.format(purchaceDate, 'yyyy-MM-dd')}"></td>
			<td th:text="*{lifespanInYears}"></td>
			<td th:text="*{depreciated}"></td>
			<td th:text="*{unusable}"></td>
			<td th:text="*{lendable}"></td>
			<td th:text="*{installationLocation}"></td>
			<td th:text="*{#dates.format(expiryDate, 'yyyy-MM-dd')}"></td>
			<td>
				<form th:action="@{/equipment/edit}" method="post">
					<input type="submit" name="form" value="編集">
					<input type="hidden" name="id"   th:value="*{id}">
				</form>
			</td>
			<td>
				<form th:action="@{/equipment/delete}" method="post">
					<input type="submit" name="form" value="削除">
					<input type="hidden" name="id"   th:value="*{id}">
				</form>
			</td>
		</tr>
	</table>
</body>
</html>